body {
  color: #fdfeff;
  font-family: 'Lora', serif;
  font-size: 17px;
  font-weight: lighter;
  margin: 0;
}
ul {
  padding: 0px
}

li {
  list-style: none;
  display: inline;
  margin: 0 20px;
}
a {
  text-decoration: none;
  color: #86afeb;
}
a:hover {
  font-style: italic;
  font-size: 105%;
  color: black;
}
/* .vater {
  background-image: url(../profile/images/5g-networking-technology-background-with-blue-digital-line_53876-119505.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 500px;
} */

#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.container {
  width: 700px; /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */

}
.img-circle {
   height: 250px;
   width: 250px;
   border-radius: 50%;
   background-size: 100% auto;
}
.card_1 {
  background: rgba(255, 255, 255, 0.276);
  padding: 30px;
  border: 1px solid lightgrey;
  padding: 40px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  border: 1px solid lightgrey;
  margin-bottom: 10%;
  margin-top: 10%;
  text-align: center;
}
